{% include "header.html" %}

<canvas id="bg"></canvas>

<div id="contentOnThree" class="hover-underline-animation">
    <h1> An all-in-one solution for your sustainability needs.</h1>
</div>

<script type="module" src="static/js/main.js"></script>

{% include "footer.html" %}

<!-- 
<head>
    <title>Gift in Kind</title>
    <link href="static/styles/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="topnav">
        <a href={{ url_for('index') }}>Home</a>
        <img class="logoImg" src="static/images/bulb.png">
        <b> Sustainably. </b>
        <t class="caption">Reduce waste. Get inspired.</t>
    </div>
    <canvas id="bg"></canvas>
    <script type="module" src="static/js/main.js"></script>
    
</body>
</html> -->

